<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Kynetech | Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
    <style>
    @font-face {
        font-family: 'nucleo-icons';
        src: url("{{url_for('static', filename='nucleo-icons.eot')}}");
        src: url("{{url_for('static', filename='nucleo-icons.eot')}}") format("embedded-opentype"), url("{{url_for('static', filename='nucleo-icons.woff2')}}") format("woff2"), url("{{url_for('static', filename='nucleo-icons.woff')}}") format("woff"), url("{{url_for('static', filename='nucleo-icons.ttf')}}") format("truetype"), url("{{url_for('static', filename='nucleo-icons.svg')}}") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    </style>
    <link href="{{url_for('static', filename='light-bootstrap-dashboard.css')}}" rel="stylesheet" />


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- https://plot.ly/javascript/streaming/ -->
    <script src="{{url_for('static', filename='he.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-image="{{url_for('static', filename='sidebar-4.jpg')}}" data-color="blue">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">

                    <a href="https://kynetech.herokuapp.com/" class="simple-text">
                        Kynetech
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://kynetech.herokuapp.com/">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://kynetech.herokuapp.com/">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://kynetech.herokuapp.com/data">
                            <i class="nc-icon nc-atom"></i>
                            <p>Data</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://kynetech.herokuapp.com/delete">
                            <i class="nc-icon nc-notes"></i>
                            <p>Refresh</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://kynetech.herokuapp.com/">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#pablo"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="https://kynetech.herokuapp.com/" class="nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-palette"></i>
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">3</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Sensor 1</a>
                                    <a class="dropdown-item" href="#">Sensor 2</a>
                                    <a class="dropdown-item" href="#">Sensor 3</a>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nc-icon nc-zoom-split"></i>
                                    <span class="d-lg-block">&nbsp;Search</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <span class="no-icon">Account</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://kynetech.herokuapp.com/">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 xol-sm-12 col-md-12 col-lg-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Sensors</h4>
                                    <p class="card-category">Time-series graphs</p>
                                </div>
                                <div class="card-body ">
                                    <div id="wrist_graph"></div>
                                    <div id="wrist_statistics">
                                        <p id="wrist_max_rotation">Max Rotation: </p>
                                        <p id="wrist_min_rotation">Min Rotation: </p>
                                    </div>
                                    <div id="elbow_graph"></div>
                                    <div id="elbow_statistics"></div>
                                        <p id="elbow_max_flexion">Max Flexion: </p>
                                    </div>
                                    <div id="emg_graph"></div>
                                    <div id="emg_statistics">
                                        <p id="max_flex_voltage">Max Flex Sustain Voltage: </p>
                                        <p id="max_flex_time">Max Flex Sustain Time: </p>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Updated every 0.2 seconds
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="https://kynetech.herokuapp.com/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="https://kynetech.herokuapp.com/delete">Kynetech</a> | Dasboard by <a href="http://www.creative-tim.com">Creative Tim</a>.
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
			<li class="header-title"> Sidebar Style</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Background Image</p>
                    <label class="switch">
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <p>Filters</p>
                    <div class="pull-right">
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                        <span class="badge filter badge-purple active" data-color="purple"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>

            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="..//assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-5.jpg" alt="" />
                </a>
            </li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                </div>
            </li>

            <li class="header-title pro-title text-center">Want more components?</li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                </div>
            </li>

            <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

            <li class="button-container">
				<button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
            </li>
        </ul>
    </div>
</div>
 -->
</body>
<!--   Core JS Files   -->
<script src="{{url_for('static', filename='jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='popper.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{url_for('static', filename='bootstrap-switch.js')}}"></script>


<!--  Notifications Plugin    -->
<script src="{{url_for('static', filename='bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{{url_for('static', filename='light-bootstrap-dashboard.js')}}" type="text/javascript"></script>

<script>

// d = d.substring(1,d.length-1);
// d = String.fromCharCode(d)

// d=d.replace("&#39;", "")

function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
function httpGetAsync(theUrl, callback)
{
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
          callback(xmlHttp.responseText);
  }
  xmlHttp.open("GET", theUrl, true); // true for asynchronous
  xmlHttp.send(null);
}

function rand0() {

  d = httpGet('https://kynetech.herokuapp.com/data')

  d = he.decode(d);
  d = eval(d);

  // d  =['1.0,2.0,3.0']
  console.log(parseFloat(d[d.length-1].split(',')[0]));
  return parseFloat(d[d.length-1].split(',')[0]) * 50;

 }

 function rand1() {

   d = httpGet('https://kynetech.herokuapp.com/data')

   d = he.decode(d);
   d = eval(d);

   // d=['1.0,2.0,3.0']


   console.log(parseFloat(d[d.length-1].split(',')[1]));
   return parseFloat(d[d.length-1].split(',')[1]);

  }

  function rand2() {

    d = httpGet('https://kynetech.herokuapp.com/data')

    d = he.decode(d);
    d = eval(d);

// d=['1.0,2.0,3.0']
    console.log(parseFloat(d[d.length-1].split(',')[2]));
    return parseFloat(d[d.length-1].split(',')[2]);

   }

var largest_rotation = 0;
$(document).ready(function() {
    function set_new_value() {
        $('#wrist_max_rotation').text("Max Rotation: ".concat(largest_rotation));
        if (rand0() > largest_rotation) {
            largest_rotation = rand0();
        }
    }
    var inst = setInterval(set_new_value, 200);
});

var least_rotation = 0;
$(document).ready(function() {
    function set_new_value() {
        $('#wrist_min_rotation').text("Min Rotation: ".concat(least_rotation));
        if (rand0() < least_rotation) {
            least_rotation = rand0();
        }
    }
    var inst = setInterval(set_new_value, 200);
});

var max_flexion = 0;
$(document).ready(function() {
    function set_new_value() {
        $('#elbow_max_flexion').text("Max Flexion: ".concat(max_flexion));
        if (rand1() < max_flexion) {
            max_flexion = rand1();
        }
    }
    var inst = setInterval(set_new_value, 200);
});

var max_flex_voltage = 0;
var max_flex_time = 0;
var past_values = [];
$(document).ready(function() {
    function set_new_value() {
        $('#max_flex_voltage').text("Max Flex Sustain Voltage: ".concat(max_flex_sustain_voltage));
        $('#max_flex_time').text("Max Flex Sustain Time: ".concat(max_flex_sustain_time));
        var curr_value = rand2()
        if (curr_value > 1) {
            if (past_values.length >= 1) {
                if ((past_values[past_values.length - 1] + 0.2 > curr_value) || (past_values[past_values.length - 1] - 0.2 < curr_value)) {
                    past_values.push(curr_value);
                    if (200 * (past_values.length - 1) > max_flex_time) {
                        var sum = 0;
                        for(var i = 0; i < past_values.length; i++){
                            sum += past_values[i]; //don't forget to add the base
                        }
                        var avg = sum/past_values.length;
                        max_flex_voltage = avg;
                        max_flex_time = (past_values.length - 1) * 200;
                    }
                }
                else {
                    past_values = [];
                }
            }
        }
    }
    var inst = setInterval(set_new_value, 200);
});

////////Global PLOT Values///////
var plot_height = 250;

////////WRIST DATA///////
var wrist_rotation = {
  x: [],
  y: [],
  mode: "lines",
  line: {
    color: '#DF56F1',
    shape: 'spline'
  },
  name: "Wrist Rotation"
};

var wrist_data = [wrist_rotation];

var wrist_layout = {
    title: "Wrist Rotation",
    height: plot_height,
    xaxis: {
    title: 'Time',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  },
  yaxis: {
    title: 'Degrees',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  }
};

Plotly.newPlot('wrist_graph', wrist_data, wrist_layout);

////////ELBOW DATA///////
var elbow_flexion = {
  x: [],
  y: [],
  mode: 'lines',
  line: {
   color: '	#FF0000',
   shape: 'spline'
  },
  name: "Elbow flexion"
};

var elbow_data = [elbow_flexion];

var elbow_layout = {
    title: "Elbow Flexion Data",
    height: plot_height,
    xaxis: {
    title: 'Time',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  },
  yaxis: {
    title: 'Degrees',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  }
};

Plotly.newPlot('elbow_graph', elbow_data, elbow_layout);

////////EMG DATA///////
var emg_voltage = {
  x: [],
  y: [],
  mode: 'lines',
  line: {
   color: '#80CAF6',
   shape: 'spline'
  },
  name: "EMG Voltage"
};

var emg_data = [emg_voltage];

var emg_layout = {
    title: "EMG Voltage",
    height: plot_height,
    xaxis: {
    title: 'Time',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  },
  yaxis: {
    title: 'Voltage',
    titlefont: {
      family: 'Courier New, monospace',
      size: 14,
      color: '#7f7f7f'
    }
  }
};

Plotly.newPlot('emg_graph', emg_data, emg_layout);

////////DATA UPDATES///////
var cnt = 0;
var interval = setInterval(function() {
    var time = new Date();
    var wrist_update = {
        x: [[time]],
        y: [[rand0()]]
    }
    var elbow_update = {
        x: [[time]],
        y: [[rand1()]]
    }
    var emg_update = {
        x: [[time]],
        y: [[rand2()]]
    }
    Plotly.extendTraces('wrist_graph', wrist_update, [0]);
    Plotly.extendTraces('elbow_graph', elbow_update, [0]);
    Plotly.extendTraces('emg_graph', emg_update, [0]);
    if(cnt === 100) clearInterval(interval);
    },
    200);
</script>
</html>
